altair
annotated-doc
annotated-types
anyio
attrs
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
fastapi
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status

h11
httplib2
httptools
idna
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
lxml
MarkupSafe
narwhals
numpy
packaging
pandas
pdfminer.six
pdfplumber
pillow
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
pyparsing
pypdfium2
python-dateutil
python-docx
python-dotenv
python-multipart
python-pptx
referencing
reportlab
requests
rpds-py
six
smmap
sse-starlette
starlette
streamlit
tenacity
toml
tqdm
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
watchdog
websockets
xlsxwriter
